<nav class="navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="navbar header">
            <a href="#" class="navbar-brand">The Newsletter Scrapper</a>
        </div>

        {{!-- Menu Items --}}
        <div>
            <ul class="nav navbar nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <a href="/savedArticles">Saved Articles</a>
                </li>
               
                <a href="/scrapedData" class="btn btn-primary btn-lg" id="scrape-button">Scrape Articles!</a>
            </ul>
        </div>
    </div>
</nav>

</class>
<class="jumbotron">
    <h1>Welcome to the NewScrapper</h1>
    </class>
    {{#each dbArticle }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{dbArticle.title}}</h5>
                        <p class="card-text">{{dbArticle.text}}</p>
                        <a href="#" id="save-button" data-id={{dbArticle._id}} class="btn btn-primary">Save Article</a>
                        <a href="/articles/{{dbArticle._id}}" id="open-modal"  class="btn btn-primary">Leave a comment</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{!-- Modal when Leave a comment is clicked --}}

    <div class="modal" id="note-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{dbArticle.title}} || {{dbArticle._id}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">
                        <textarea id="note-content" class="form-control" rows="5" id="note-body" placeholder="Write note here" minlength= 10 required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-id="{{dbArticle._id}}" class="btn btn-success" id="note-create">Create Note</button>
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {{/each}}